.footer__outer{
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FF5A60;

}
.footer__inner{
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 40%;
}
.footer__right{
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.footer__left__social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 100%;

}

.footer__left__img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
}

.footer__left__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 1.5rem;
    color: white;
}

.footer__right__button{
    height: 3rem;
    width:8rem;
    background-color: orange;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.footer__right__title{
    font-size: 2rem;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}